/build
/dist
/nbproject
/TripsPlanner-ejb/build
/TripsPlanner-ejb/dist
/TripsPlanner-ejb/nbproject
/TripsPlanner-war/build
/TripsPlanner-war/dist
/TripsPlanner-war/nbproject/
/TripsPlanner-war/src/java/com/tripsplanner/util/ServletUtil.java

